{% extends 'verControl/base.html' %}

{% block content %}
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.css" type="text/css" />
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.css" type="text/css" />
    <body>
        {{div3}}
        {{ div | safe }}
        <div>
                <p>valores</p>
                {% for d in div2%}
                    <p>{{d.0}} = {{d.1}}</p>
                {%endfor%}
                <p>Media Acumulada:</p>
                {{div4}}
                <p>Desvio Estándar:</p>
                {{div5}}

        </div>
         
    </body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.0.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.1.min.js"></script>
    

        {{ script | safe }}
    
{% endblock %}
